/* File: app/components/ShareableImage.module.css */

.container {
  width: 540px;
  height: 960px;
  background-color: transparent;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: white;
}

.title {
  font-size: 1.2rem;
  font-weight: normal;
  color: white;
  margin-bottom: -15px;
}

.statsWrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.statLabel {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: -30px;
  color: white;
}

.statValue {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  line-height: 1;
  margin-bottom: 20px;
}

.calendarContainer {
  margin-bottom: 32px;
}

.calendarGrid {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, 1fr);
  gap: 4px;
}

.calendarCell {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.footer {
  /* font-size: 1.5rem; */
  /* font-weight: bold; */
  /* color: white; */
  /* margin-top: 24px; */
}